<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sma_rasanehsoft.afghanistanema_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".G"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity_splash"
        android:theme="@style/splashtheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Activity_AfNews" />
        <activity android:name=".Activity_VariousNews" />
        <activity android:name=".Activity_Full_Text" />
        <activity android:name=".ActivityWait_full_Text" />
        <activity android:name=".Activity_afnew_wait" />
        <activity android:name=".Activity_mohajer_Wait" />
        <activity android:name=".Activity_mohajer_news" />
        <activity android:name=".Activity_various_wait" />
        <activity android:name=".Activity_Sport" />
        <activity android:name=".ActivityScience" />
        <activity android:name=".ActivitySportWait" />
        <activity android:name=".AcitivitySienceWait" />
        <activity android:name=".Connectivity"></activity>
    </application>

</manifest>